@media(max-width: 1350px) {
    .header__content {
        display: block;
    }
    .header__logo {
        margin-top: 30px;
        justify-content: center;
    }
    .menu__list {
        display: none;
    }
    .header__button {
        display: none;
    }
    .general__screen {
        height: 840px;
    }
    .general__text {
        text-align: center;
    }
    .general__title {
        font-size: 140px;
    }
    .general__social {
        justify-content: center;
    }
    .general__connect {
        margin: 0 auto;
    }
    .general__connect-input {
        width: 100%;
    }
    .connect__adress {
        margin-right: 50px;
    }
    .genral__character {
        bottom: -266px;
        left: 0;
        margin: 0 auto;
        width: 290px;
        height: 290px;
    }
    .star__wrapper {
        display: block;
        text-align: center;
    }
    .star__img {
        margin-right: 0;
        max-width: 100%;
        height: auto;
    }
    .mouse-3 {
        display: none;
    }
    .mouse-4 {
        display: none;
    }
    .mouse-5 {
        display: none;
    }
    .mouse-6 {
        display: none;
    }
    .elips__wrapper {
        display: block;
        text-align: center;
    }
    .elips__image {
        margin-right: 0;
        margin: 0 auto 20px auto;
    }
    .elips__description {
        font-size: 60px;
        margin-bottom: 30px;
    }
    .footer__image-left {
        display: none;
    }
    .footer__image-right {
        display: none;
    }
}

@media(max-width: 570px) {
    .header__content {
        height: 85px;
    }
    .header__logo {
        margin-top: 10px;
    }
    .logo {
        height: 80px;
        width: 80px;
    }
    .general__title {
        font-size: 90px;
        margin-bottom: 0;
    }
    .general__social {
        display: block;
        margin: 0 auto 30px auto; 
    }
    .connect__adress {
        margin-right: 20px;
        font-size: 15px;
    }
    .genral__character {
        bottom: -256px;
    }
    .general__connect-input {
        padding: 15px;
    }
    .general__connect-input-icon {
        height: 20px;
    }
    .star__title {
        font-size: 45px;
    }
    .mouse-1 {
        right: -5px;
        top: -45px;
    }
    .mouse-2 {
        right: 260px;
        top: 150px;
    }
    .star__description {
        font-size: 25px;
        margin-bottom: 30px;
    }
    .star__button  {
        padding: 15px 35px;
    }
    .elips__wrapper {
        margin-top: 90px;
    }
    .elips__title {
        margin-bottom: 30px;
        font-size: 45px;
    }
    .elips__description {
        font-size: 40px;
        line-height: 55px;
    }
    .footer__wrapper {
        height: auto;
        text-align: center;
    }
    .footer__image-left {
        display: none;
    }
    .footer__image-right {
        display: none;
    }
    .footer__social {
        margin-bottom: 40px;
        display: block;
    }
    .telegram {
        margin-right: 0;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .twitter {
        margin-right: 0;
    }
    .footer__bottom-text {
        font-size: 20px;
        margin-bottom: 20px;
    }
}

@media(max-width: 450px) {
    .general__title {
        font-size: 65px;
    }
    .genral__character {
        bottom: -281px;
    }
}

@media(max-width: 376px) {
    .connect__adress {
        font-size: 14px;
    }
    .logo {
        width: 80px;
        height: 80px;
    }
    .star__title {
        font-size: 30px;
        margin-bottom: 15px;
    }
    .star__description {
        font-size: 18px;
        margin-bottom: 15px;
    }
    .star__button  {
        padding: 15px 45px;
        font-size: 18px;
    }
    .elips__title {
        font-size: 30px;
    }
    .elips__description {
        font-size: 30px;
        line-height: 25px;
    }
    .elips__wrapper {
        margin-top: 60px;
    }
    .footer__bottom-text {
        font-size: 15px;
    }
}